@font-face {
  font-family: 'Berlin Sans FB';
  src: url('/brlnsr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}
